<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <applicationSettings>
  <serviceAccount configSource="Config\ServiceAccount\Unit.config" xdt:Transform="Insert" />
  </applicationSettings>

  <appSettings>
    <add xdt:Transform="Insert" xdt:Locator="Match(key)" key="RollingLogFilePath" value="D:\Contact\Unit\Log\Contact.PerformanceMonitor{0}.log"/>
  </appSettings>
  
</configuration>
