<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <applicationSettings>
      <serviceAccount configSource="Config\ServiceAccount\Demo.config" xdt:Transform="Insert" />
  </applicationSettings>

  <system.net>
    <defaultProxy xdt:Transform="Replace" useDefaultCredentials="true">
      <proxy bypassonlocal="True" proxyaddress="http://172.25.66.1:8080" />
      <bypasslist>
        <add address="172\.31\.60\.19"/>
      </bypasslist>
    </defaultProxy>
  </system.net>

  <appSettings>
    <add xdt:Transform="Insert" xdt:Locator="Match(key)" key="RollingLogFilePath" value="D:\Contact\Demo\Log\Contact.PerformanceMonitor{0}.log"/>
  </appSettings>
  
</configuration>
