<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    <sectionGroup name="applicationSettings">
        <section name="serviceAccount" type="Tesco.Services.Contact.Mechanisms.Process.ServiceAccountConfiguration, Tesco.Services.Contact.Mechanisms" />
    </sectionGroup>
  </configSections>
  <applicationSettings/>
  <appSettings>
    <add key="log4net.Internal.Debug" value="false" />
  </appSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy bypassonlocal="True" proxyaddress="http://172.25.66.1:8080" />
    </defaultProxy>
  </system.net>
  <log4net>
    <logger name="AppLogger">
      <!-- Use DEBUG for detailed log output or INFO for minimal log output in production -->
      <level value="DEBUG" />
    </logger>
  </log4net>
</configuration>