<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <applicationSettings>
   <serviceAccount configSource="Config\ServiceAccount\Release.config" xdt:Transform="Insert" />
  </applicationSettings>
  
  <system.net>
    <defaultProxy xdt:Transform="Replace" useDefaultCredentials="true">
      <proxy bypassonlocal="True" proxyaddress="http://172.25.66.1:8080" />
    </defaultProxy>
  </system.net>

  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="NumberOfServiceThreads" value="32"/>
    <add xdt:Transform="Insert" xdt:Locator="Match(key)" key="RollingLogFilePath" value="D:\Contact\Release\Log\Contact.PerformanceMonitor{0}.log"/>
  </appSettings>

  <system.net>
    <defaultProxy useDefaultCredentials="true">
      <bypasslist xdt:Transform="Insert">
        <add address=".*\.tesco\.org"/>
      </bypasslist>
    </defaultProxy>
  </system.net>

</configuration>
