@using Contact.Monitoring.Web.ViewModel
@{
    ViewBag.Title = "Monitoring";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            @(Html.Kendo().Grid<SystemUpTimeViewModel>()
                          .Name("kSystemUpTime")
                          .Columns(columns =>
    {
        columns.Bound(c => c.MachineName);
        columns.Bound(c => c.Service);
        columns.Bound(c => c.LastBootUpTime);
    })
                          .AutoBind(true)
                          .DataSource(ds =>
                                      ds.Ajax()
                                        .Read(read => read.Action("GetSystemUpTime", "Home")))
             )
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @(Html.Kendo().Grid<PerformanceCounterDataViewModel>()
                          .Name("kPerformanceData")
                          .Pageable()
                          .Columns(columns =>
                            {
                                columns.Bound(c => c.Timestamp);
                                columns.Bound(c => c.MachineName);
                                columns.Bound(c => c.Service);
                                columns.Bound(c => c.Counter);
                                columns.Bound(c => c.Value);
                            })
                          .AutoBind(true)
                          .DataSource(ds =>
                                      ds.Ajax()
                                        .Read(read => read.Action("GetSystemActivity", "Home")))
            )
        </div>
    </div>
</div>
